<div class="row">
    <section class="main col-md-9">
        <article>
            <h2>Post {{title}}</h2>
            <img src={{featureImage}} alt="feature Image" style="width:100%" />
            <br /><br />
             {{body}}
            <br /><br />
            <strong>Category:</strong> {{id}}<br />
            <strong>Last Updated:</strong> {{postDate}}

        </article>
    </section>
    <aside class="col-md-3">
        <br /><br />
        <h4>Posts</h4>

        <ul class="list-group">
            <a href="#" class="list-group-item">Post 1</a>
            <a href="#" class="list-group-item">Post 2</a>
            <a href="#" class="list-group-item">etc...</a>
        </ul>

        <h4>Categories</h4>

        <ul class="list-group">
           <a href="#" class="list-group-item">Category 1</a>
            <a href="#" class="list-group-item">Category 2</a>
            <a href="#" class="list-group-item">etc...</a>
        </ul>
    </aside>
</div>